@import "materialize/components/color-variables";

$primary-color: color("shades", "white");
$primary-color: color("shades", "white");

$nav-border-color: color('grey', 'lighten-2');

$navbar-font-color: color('teal', 'lighten-2');
