<div class="row">
  <div class="col s12">
      <ul class="summary generate"></ul>
  </div>
  <div class="col s12">
    <h2>Intro</h2>
    <p>
      All of the configuration files for the Nucleon framework are stored in the <code class="language-php">config</code> directory.
      Each option is documented, so feel free to look through the files and get familiar with the options available to
      you.
    </p>

    <p>
      Each configuration file will be added to the global object <code class="language-php">Phalcon\Config</code> via its name.</p>
    <p>Ex :</p>
    <pre><code class="language-php">// app.php
return [
  'name' => 'nucleon'
];</code></pre>
    Will give :
    <pre><code class="language-php">$config->app->name === 'nucleon';</code></pre>

    <h2>Environnement & DotConst</h2>
    <p>To work, nucleon, need to have 3 constants defined :</p>
    <ul class="browser-default">
      <li><code class="language-php">BASE_PATH</code> : Application base path.</li>
      <li><code class="language-php">APP_DEBUG</code> : Application is in debug mode.</li>
      <li><code class="language-php">APP_ENV</code> : Application environment (development, test, staging, production).</li>
    </ul>

    <p>Nucleon introduce <code class="language-php">Dotconst</code>. It allow load any constants from <code class="language-php">.const.ini</code> files.</p>

    <h3>How it work</h3>
    <p>In a fresh Nucleon installation, the root directory of your application will contain a <code class="language-php">.const.ini</code> file</p>
    <p>The file contains :</p>
    <pre><code class="language-ini">[base]
path = @php/dir

[app]
env = @php/env:APP_ENV:development
debug = true
;...
</code></pre>
    <p>This will load in php : </p>
    <pre><code class="language-php">BASE_PATH === '{base path of .const.ini file}'
APP_ENV === getenv('APP_ENV')
APP_DEBUG === true
</code></pre>

    <p>
      Every sections will be flatten. Each variable will be prefixed with the section name.<br/>
      Every variable will be UPPERIZED. e.g.
    </p>

    <h3>Special function</h3>
    <table class="responsive-table">
      <thead>
      <tr>
        <th>func</th>
        <th>desc</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td><pre class="inline"><code class="language-ini">@php/dir</code></pre></td>
        <td>Base path of .const file</td>
      </tr>
      <tr>
        <td><pre class="inline"><code class="language-ini">@php/env:ENV_VAR:default_value</code></pre></td>
        <td>Call getenv('ENV_VAR'). if <code class="language-php">ENV_VAR</code> is not set <pre class="inline"><code class="language-php">return 'default_value'</code></pre></td>
      </tr>
      <tr>
        <td><pre class="inline"><code class="language-ini">@php/const:PHP_VERSION_ID</code></pre></td>
        <td>Call constant('PHP_VERSION_ID')</td>
      </tr>
      </tbody>
    </table>

    <h3>Environment Overloading</h3>
    The first file called is <code class="language-php">.const.ini</code>. If the variable <code class="language-php">APP_ENV</code> is defined in this file, dotconst will look for the file <code class="language-php">.const.{APP_ENV}.ini</code>, and override the base values. <br/>
    Useful when working on multiple environments.
    <pre><code class="language-ini">; .const.ini
[app]
env = production

[database]
host = localhost</code></pre>
    <pre><code class="language-ini">; .const.production.ini
[database]
host = 10.0.0.0</code></pre>

    Will become
    <pre><code class="language-php">DATABASE_HOST === '10.0.0.0'</code></pre>
  </div>
</div>