<div class="row">
  <div class="col s12">
      <ul class="summary generate"></ul>
    <h2>Server Requirements</h2>
    <ul class="browser-default">
      <li>PHP >= 5.6</li>
      <li>Phalcon >= 3.0</li>
      <li>ext-mbstring</li>
      <li>ext-openssl</li>
    </ul>
    <h2>Phalcon installation</h2>
    <p><a href="https://phalconphp.com/en/download/" class="btn-small" target="_blank">Phalcon installation documentation</a></p>
    <h3>Ubuntu or Debian</h3>
    To install Phalcon on Ubuntu or Debian you need to follow these steps:
    <pre><code class="language-bash">$ curl -s "https://packagecloud.io/install/repositories/phalcon/stable/script.deb.sh" | sudo bash

$ sudo apt-get install php5-phalcon

# Ubuntu 16.04+, Debian 9+
$ sudo apt-get install php7.0-phalcon
</code></pre>
    <h3>Windows</h3>
    <p><a href="https://github.com/phalcon/cphalcon/releases" class="btn-small" target="_blank">Download Windows DLL</a></p>
    <p>Windows DLLs can be downloaded from Phalcon Github release page.</p>
    <p>Then add in your php.ini</p>
    <pre><code class="language-ini">extension=php_phalcon.dll</code></pre>

    <h2>Nucleon Installation</h2>
    <h3>Via Composer Create-Project</h3>
    <pre><code class="language-bash">$ composer create-project --prefer-dist nucleon/nucleon app-root
</code></pre>
    <h3>Local Development Server</h3>
    <p>If you have PHP installed locally and you would like to use PHP's built-in development server to serve your application, you may use the <code class="language-php">server:run</code> Quark command. This command will start a development server at <code class="language-php">http://127.0.0.1:8000</code>:</p>
    <pre><code class="language-bash">$ php quark server:run
</code></pre>
    <h2>WebServer Configuration</h2>

    <p>
    If you use the kernel http, with the kernel micro, you need to specify two entry point.<br/>
    This can be done very simply with a simple configuration of your web server.
    </p>

    <h3>Nginx</h3>
    <p>If you use Nginx, the following directive in your site configuration will redirect requests to the front controller <code class="language-php">index.php</code> / <code class="language-php">micro.php</code>:</p>
    <pre><code class="language-nginx">server {
    # ...
    server_name example.com;
    root /data/www/app/public;
    index index.php micro.php;
    # ...
    location ~ /api/(.*) {
        # Dispatch on Micro Kernel
        try_files $uri $uri/ /micro.php$is_args$query_string;
    }
    location / {
        # Dispatch on Http Kernel
        try_files $uri $uri/ /index.php$is_args$query_string;
    }

    location ~ \.php$ {
        try_files     $uri =404;
        fastcgi_pass unix:/run/php/php7.0-fpm.sock;
        # ...
    }
}</code></pre>

    <h3>Apache</h3>
    <p>Nucleon includes a <code class="language-php">public/.htaccess</code> file that is used to provide URLs without the <code class="language-php">index.php</code> / <code class="language-php">micro.php</code>, front controller in the path. Before serving Nucleon with Apache, be sure to enable the <code class="language-php">mod_rewrite</code> module so the <code class="language-php">.htaccess</code> file will be honored by the server.</p>
    <p>If the <code class="language-php">.htaccess</code> file that ships with Nucleon does not work with your Apache installation, try this alternative:</p>
    <pre><code class="language-apacheconf">Options +FollowSymLinks
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
# Dispatch on Micro Kernel
RewriteRule ^/?api/(.*)$ /micro.php [QSA,L]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
# Dispatch on Http Kernel
RewriteRule ^(.*)$ /index.php [QSA,L]</code></pre>
  </div>
</div>