ul.directory {
  position: relative;
  & ul {
    position: relative;

    &:before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 5px;
      bottom: 5px;
      width: 1px;
      background: #e7e7e7;
    }
  }

  & li {
    position: relative;
    padding-left: 15px;

    font-family: monospace;
    font-size: 12px;
    font-weight: 600;

    &:not(.leaf) > span {
      font-weight: 300;
      &:after {
        content: "/";
      }
    }
  }
}