ul.directory {
  position: relative;
  & ul {
    position: relative;

    &:before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 5px;
      bottom: 12px;
      width: 1px;
      background: #999;
    }

    & li {
      position: relative;
      padding-left: 15px;

      &:before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 5px;
        height: 12px;
        width: 8px;
        border-left: 1px solid;
        border-bottom: 1px solid;
        border-color: #999;
      }
    }
  }
}