.flex-wrapper {
  display: flex;
  flex-shrink: 0;

  & > .flex-content {
    flex: 1 0 auto;
    max-width: 100%;
  }

  &.flex-vcenter {
    align-items: center;
    & > .flex-content {
      flex: 1 0 auto;
    }
  }
}

.full-vh {
  min-height: 100vh;
}

.full-hw {
  min-width: 100%;
}
