a:focus {
  outline: 0;
}

@media #{$small-and-down} {
  .no-padding-on-small {
    padding: 0 !important;
  }
}
@media #{$medium-and-down} {
  .no-padding-on-medium {
    padding: 0 !important;
  }
}
@media #{$large-and-down} {
  .no-padding-on-large {
    padding: 0 !important;
  }
}

main {
  position: relative;
  min-height: calc(100vh - #{$navbar-height});
  @extend .flex-wrapper;

  .flex-content {
    @include wild-container();
  }

  .full-hw {
    min-height: calc(100vh - #{$navbar-height});
  }

  .main-logo {
    max-height: 250px;
    max-width: 250px;
  }
}

ul.directory {
  font-size: 1rem;
  padding-left: 24px;
  list-style-type: none;

  li {
    span.desc {
      display: block;
    }

    position: relative;
    line-height: 33px;
    &:before {
      @include material-icon();
      font-size: 1.5rem;
      line-height: 1.5;
      position: absolute;
      left: -25px;
      content: "folder";
    }

    &.special:before {
      content: "folder_special";
    }
    &.open:before {
      content: "folder_open";
    }
  }
}