main {
  position: relative;
  min-height: calc(100vh - #{$navbar-height}) ;
  display: flex;
  flex-shrink: 0;

  .page-wrapper {
    flex: 1 0 auto;
    max-width: 100%;
    overflow: hidden;

    @include wild-container();
  }
}

a:focus {
  outline: 0;
}