header {
  nav {
    background-color: color('shades', 'white') !important;
    border-bottom: 1px solid $nav-border-color;

    h1.header {
      @media #{$medium-and-up} {
        height: $navbar-height;
        line-height: $navbar-line-height;
      }
      height: $navbar-height-mobile;
      line-height: $navbar-line-height-mobile;
      font-weight: 300;
      font-size: 3rem;
      margin: 0;
    }

    @include wild-container();
  }
}