.search {
  border-bottom: 1px solid #e0e0e0;

  .search-wrapper {
    position: relative;

    input {
      padding: 0 50px 0 25px;
      max-width: 100%;
      margin: 0;
      box-sizing: border-box;
      border: none;
      height: 62px;
      width: 100%;
      outline: none;
    }

    i {
      position: absolute;
      top: 20px;
      right: 15px;
    }
  }
}