li.version {
  .dropdown-trigger {
    display: inline-block;
    border-bottom: 1px solid #e0e0e0;
    &:after {
      content: "\25BC";
      font-size: 65%;
      vertical-align: 0.13rem;
    }
  }
}