<div class="row">
  <div class="col s12">
    <ul class="summary generate"></ul>
  </div>
  <div class="col s12">
    <h2>Intro</h2>
    <p>
      The Micro Kernel is a micro framework. <br/>
      The kernel is <code>\Neutrino\Http\Micro</code> extends <code>\Phalcon\Mvc\Micro</code>
    </p>
    <p>
      This kernel doesn't implement Router, and Dispatcher. They a built in the Kernel. <br/>
    </p>
    <h2>Request Lifecycle</h2>
    <ul class="request-lifecycle">
      <li><code>public/micro.php</code></li>
      <li><span class="action">bootstrap</span>
        <ul>
          <li>required compiled files (if exist)</li>
          <li>autoload (phalcon/composer)</li>
        </ul>
      </li>
      <li><span class="action">make micro-app <code>App\Kernels\Http\Kernel</code></span>
        <ul>
          <li>Kernel Bootstrap
            <ul>
              <li>build <code>Phalcon\Di</code></li>
              <li>build <code>Phalcon\Phalcon\Events\Manager</code> (if specified)</li>
            </ul>
          </li>
          <li>Register Services</li>
          <li>Register Global Middlewares</li>
          <li>Register Global Events Listeners</li>
          <li>Register Routes</li>
        </ul>
      </li>
      <li><span class="action">run micro-app</span>
        <ul>
          <li><span class="event">[kernel::boot]</span></li>
          <li><span class="action">micro-app->handle</span>
            <ul>
              <li><span class="event">[micro:beforeHandleRoute]</span></li>
              <li><span class="action">micro-app->routeMatch</span></li>
              <li><span class="event">[micro:beforeExecuteRoute]</span></li>
              <li><span class="action">Handler <code>\Closure</code> ->execute()</span>
                <ul>
                  <li><span class="middleware">ControllerMiddleware::before</span></li>
                  <li><span class="action">Make Controller</span></li>
                  <li><span class="action">Controller->execute()</span></li>
                  <li><span class="middleware">ControllerMiddleware::after</span></li>
                </ul>
              </li>
              <li><span class="event">[micro:afterExecuteRoute]</span></li>
              <li><span class="event">[micro:afterHandleRoute]</span></li>
              <li><span class="action">Send Response</span></li>
            </ul>
          </li>
          <li><span class="event">[kernel::terminate]</span></li>
        </ul>
      </li>
    </ul>

    <h2>Micro Kernel Class</h2>
    <p><code>App\Kernels\Micro\Kernel</code> class have these properties :</p>
    <table class="small">
      <thead>
      <tr>
        <th>Property</th>
        <th>Description</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td><code>$providers</code></td>
        <td>Define the providers to load on bootstrap.<br/>
          <b>You can add your's ServiceProvider here</b></td>
      </tr>
      <tr>
        <td><code>$middlewares</code></td>
        <td>Define the global middleware. Loaded on bootstrap.</td>
      </tr>
      <tr>
        <td><code>$listeners</code></td>
        <td>Define the global events listeners. Loaded on bootstrap.</td>
      </tr>
      <tr>
        <td><code>$dependencyInjection</code></td>
        <td>Define the Dependency Injection class to use.<br/>
          Default: <code>Phalcon\Di\FactoryDefault</code></td>
      </tr>
      <tr>
        <td><code>$eventsManagerClass</code></td>
        <td>Define the events manager class to use.<br/>
          Default: <code>null</code>. By default, Micro Kernel doesn't use events manager.</td>
      </tr>
      <tr>
        <td><code>$errorHandlerLvl</code></td>
        <td>Define the list of error handler to use.<br/>
          Defaults : <code>Neutrino\Error\Writer\Phplog</code>, <code>Neutrino\Error\Writer\Logger</code><br/>
          <a href="#!basics/errors.html">Read more about Errors handlers here</a>
        </td>
      </tr>
      </tbody>
    </table>


    <h2>Controllers / Middlewares</h2>

    <h3>Controllers</h3>
    <p>Controllers gone in <code>{project_dir}/app/Kernels/Micro/Controller</code></p>
    <a href="/#!basics/controllers.html@micro-controller" class="btn-small">Read more about controller in micro application</a>

    <h3>Middlewares</h3>
    <p>Middlewares gone in <code>{project_dir}/app/Kernels/Micro/Middlewares</code></p>
    <a href="/#!basics/middleware.html@micro-middleware" class="btn-small">Read more about middleware in micro application</a>
  </div>
</div>