<div class="row">
  <div class="col s12">
    <ul class="summary generate"></ul>
  </div>
  <div class="col s12">
    <h2>MVC</h2>
    <ul class="directory">
      <li>app
        <ul>
          <li>Kernels
            <ul>
              <li>Http
                <ul>
                  <li>Controllers
                    <ul>
                      <li>AuthController.php</li>
                      <li>HomeController.php</li>
                    </ul>
                  </li>
                  <li>Middlewares
                    <ul>
                      <li>RedirectIfAuthenticated.php</li>
                    </ul>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
    <h2>HMVC</h2>
    <ul class="directory">
      <li>app
        <ul>
          <li>Kernels
            <ul>
              <li>Http
                <ul>
                  <li>Modules
                    <ul>
                      <li>Frontend
                        <ul>
                          <li>Controllers
                            <ul>
                              <li>AuthController.php</li>
                              <li>HomeController.php</li>
                            </ul>
                          </li>
                          <li>Middlewares
                            <ul>
                              <li>RedirectIfAuthenticated.php</li>
                            </ul>
                          </li>
                        </ul>
                      </li>
                      <li>Backend
                        <ul>
                          <li>Controllers
                            <ul>
                              <li>AdminController.php</li>
                              <li>AuthController.php</li>
                            </ul>
                          </li>
                          <li>Middlewares
                            <ul>
                              <li>RedirectIfAuthenticated.php</li>
                            </ul>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>