<div class="row">
  <div class="col s12">
    <ul class="summary generate"></ul>
  </div>
  <div class="col s12">
    <h2>MVC</h2>
    <ul class="directory">
      <li><span>app</span>
        <ul>
          <li><span>Kernels</span>
            <ul>
              <li><span>Http</span>
                <ul>
                  <li><span>Controllers</span>
                    <ul>
                      <li class="leaf">AuthController.php</li>
                      <li class="leaf">HomeController.php</li>
                    </ul>
                  </li>
                  <li><span>Middlewares</span>
                    <ul>
                      <li class="leaf">RedirectIfAuthenticated.php</li>
                    </ul>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
    <h2>HMVC</h2>
    <ul class="directory">
      <li><span>app</span>
        <ul>
          <li><span>Kernels</span>
            <ul>
              <li><span>Http</span>
                <ul>
                  <li><span>Modules</span>
                    <ul>
                      <li><span>Frontend</span>
                        <ul>
                          <li class="leaf">Module.php</li>
                          <li><span>Controllers</span>
                            <ul>
                              <li class="leaf">AuthController.php</li>
                              <li class="leaf">HomeController.php</li>
                            </ul>
                          </li>
                          <li><span>Middlewares</span>
                            <ul>
                              <li class="leaf">RedirectIfAuthenticated.php</li>
                            </ul>
                          </li>
                        </ul>
                      </li>
                      <li><span>Backend</span>
                        <ul>
                          <li class="leaf">Module.php</li>
                          <li><span>Controllers</span>
                            <ul>
                              <li class="leaf">AdminController.php</li>
                              <li class="leaf">AuthController.php</li>
                            </ul>
                          </li>
                          <li><span>Middlewares</span>
                            <ul>
                              <li class="leaf">RedirectIfAuthenticated.php</li>
                            </ul>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>