<div class="row">
  <div class="col s12">
    <h2>Available methods</h2>
    <h3>Array</h3>
    <p> via <samp>Neutrino\Support\Arr</samp></p>
    <div class="method-list">
      <p>
        <a data-hanchor="arr-accessible">accessible</a>
        <a data-hanchor="arr-add">add</a>
        <a data-hanchor="arr-collapse">collapse</a>
        <a data-hanchor="arr-divide">divide</a>
        <a data-hanchor="arr-dot">dot</a>
        <a data-hanchor="arr-except">except</a>
        <a data-hanchor="arr-exists">exists</a>
        <a data-hanchor="arr-first">first</a>
        <a data-hanchor="arr-last">last</a>
        <a data-hanchor="arr-flatten">flatten</a>
        <a data-hanchor="arr-forget">forget</a>
        <a data-hanchor="arr-read">read</a>
        <a data-hanchor="arr-fetch">fetch</a>
        <a data-hanchor="arr-get">get</a>
        <a data-hanchor="arr-has">has</a>
        <a data-hanchor="arr-isAssoc">isAssoc</a>
        <a data-hanchor="arr-only">only</a>
        <a data-hanchor="arr-pluck">pluck</a>
        <a data-hanchor="arr-prepend">prepend</a>
        <a data-hanchor="arr-pull">pull</a>
        <a data-hanchor="arr-set">set</a>
        <a data-hanchor="arr-sortRecursive">sortRecursive</a>
        <a data-hanchor="arr-where">where</a>
        <a data-hanchor="arr-map">map</a>
      </p>
    </div>
    <h3>Object</h3>
    <p> via <samp>Neutrino\Support\Obj</samp></p>
    <div class="method-list">
      <p>
        <a data-hanchor="obj-fill">fill</a>
        <a data-hanchor="obj-read">read</a>
        <a data-hanchor="obj-fetch">fetch</a>
        <a data-hanchor="obj-get">get</a>
        <a data-hanchor="obj-set">set</a>
        <a data-hanchor="obj-value">value</a>
      </p>
    </div>
    <h3>String</h3>
    <p> via <samp>Neutrino\Support\Str</samp></p>
    <div class="method-list">
      <p>
        <a data-hanchor="str-ascii">ascii</a>
        <a data-hanchor="str-camel">camel</a>
        <a data-hanchor="str-contains">contains</a>
        <a data-hanchor="str-endsWith">endsWith</a>
        <a data-hanchor="str-finish">finish</a>
        <a data-hanchor="str-is">is</a>
        <a data-hanchor="str-length">length</a>
        <a data-hanchor="str-levenshtein">levenshtein</a>
        <a data-hanchor="str-limit">limit</a>
        <a data-hanchor="str-lower">lower</a>
        <a data-hanchor="str-words">words</a>
        <a data-hanchor="str-parseCallback">parseCallback</a>
        <a data-hanchor="str-random">random</a>
        <a data-hanchor="str-quickRandom">quickRandom</a>
        <a data-hanchor="str-replaceFirst">replaceFirst</a>
        <a data-hanchor="str-replaceLast">replaceLast</a>
        <a data-hanchor="str-upper">upper</a>
        <a data-hanchor="str-title">title</a>
        <a data-hanchor="str-slug">slug</a>
        <a data-hanchor="str-snake">snake</a>
        <a data-hanchor="str-startsWith">startsWith</a>
        <a data-hanchor="str-studly">studly</a>
        <a data-hanchor="str-capitalize">capitalize</a>
        <a data-hanchor="str-substr">substr</a>
        <a data-hanchor="str-ucfirst">ucfirst</a>
      </p>
    </div>
    <h2>Array</h2>
    <div>
      <h4 data-anchor="arr-accessible"><samp>Arr::accessible</samp></h4>
      <p>Determine whether the given value is array accessible.</p>
      <pre><code class="php">Arr::accessible($value)</code></pre>
    </div>
    <div>
      <h4 data-anchor="arr-add"><samp>Arr::add</samp></h4>
      <p>Add an element to an array using "dot" notation if it doesn't exist.</p>
      <pre><code class="php">Arr::add($array, $key, $value)</code></pre>
    </div>
    <div>
      <h4 data-anchor="arr-collapse"><samp>Arr::collapse</samp></h4>
      <p>Collapse an array of arrays into a single array.</p>
      <pre><code class="php">Arr::collapse($array)</code></pre>
    </div>
    <div>
      <h4 data-anchor="arr-divide"><samp>Arr::divide</samp></h4>
      <p>Divide an array into two arrays. One with keys and the other with values.</p>
      <pre><code class="php">Arr::divide($array)</code></pre>
    </div>
    <div>
      <h4 data-anchor="arr-dot"><samp>Arr::dot</samp></h4>
      <p>Flatten a multi-dimensional associative array with dots.</p>
      <pre><code class="php">Arr::dot($array, $prepend = '')</code></pre>
    </div>
    <div>
      <h4 data-anchor="arr-except"><samp>Arr::except</samp></h4>
      <p>Get all of the given array except for a specified array of items.</p>
      <pre><code class="php">Arr::except($array, $keys)</code></pre>
    </div>
    <div>
      <h4 data-anchor="arr-exists"><samp>Arr::exists</samp></h4>
      <p>Determine if the given key exists in the provided array.</p>
      <pre><code class="php">Arr::exists($array, $key)</code></pre>
    </div>
    <div>
      <h4 data-anchor="arr-first"><samp>Arr::first</samp></h4>
      <p>Return the first element in an array passing a given truth test.</p>
      <pre><code class="php">Arr::first($array, $callback = null, $default = null)</code></pre>
    </div>
    <div>
      <h4 data-anchor="arr-last"><samp>Arr::last</samp></h4>
      <p>Return the last element in an array passing a given truth test.</p>
      <pre><code class="php">Arr::last($array, callable $callback = null, $default = null)</code></pre>
    </div>
    <div>
      <h4 data-anchor="arr-flatten"><samp>Arr::flatten</samp></h4>
      <p>Flatten a multi-dimensional array into a single level.</p>
      <pre><code class="php">Arr::flatten($array, $depth = INF)</code></pre>
    </div>
    <div>
      <h4 data-anchor="arr-forget"><samp>Arr::forget</samp></h4>
      <p>Remove one or many array items from a given array using "dot" notation.</p>
      <pre><code class="php">Arr::forget(&$array, $keys)</code></pre>
    </div>
    <div>
      <h4 data-anchor="arr-read"><samp>Arr::read</samp></h4>
      <p>Get an item from an array.</p>
      <pre><code class="php">Arr::read($array, $key, $default = null)</code></pre>
    </div>
    <div>
      <h4 data-anchor="arr-fetch"><samp>Arr::fetch</samp></h4>
      <p>Get an item, no null, from an array.</p>
      <pre><code class="php">Arr::fetch($array, $key, $default = null)</code></pre>
    </div>
    <div>
      <h4 data-anchor="arr-get"><samp>Arr::get</samp></h4>
      <p>Get an item from an array using "dot" notation.</p>
      <pre><code class="php">Arr::get($array, $key, $default = null)</code></pre>
    </div>
    <div>
      <h4 data-anchor="arr-has"><samp>Arr::has</samp></h4>
      <p>Check if an item exists in an array using "dot" notation.</p>
      <pre><code class="php">Arr::has($array, $keys)</code></pre>
    </div>
    <div>
      <h4 data-anchor="arr-isAssoc"><samp>Arr::isAssoc</samp></h4>
      <p>Determines if an array is associative.<br/>
        An array is "associative" if it doesn't have sequential numerical keys beginning with zero.</p>
      <pre><code class="php">Arr::isAssoc(array $array)</code></pre>
    </div>
    <div>
      <h4 data-anchor="arr-only"><samp>Arr::only</samp></h4>
      <p>Get a subset of the items from the given array.</p>
      <pre><code class="php">Arr::only($array, $keys)</code></pre>
    </div>
    <div>
      <h4 data-anchor="arr-pluck"><samp>Arr::pluck</samp></h4>
      <p>Pluck an array of values from an array.</p>
      <pre><code class="php">Arr::pluck($array, $value, $key = null)</code></pre>
    </div>
    <div>
      <h4 data-anchor="arr-prepend"><samp>Arr::prepend</samp></h4>
      <p>Push an item onto the beginning of an array.</p>
      <pre><code class="php">Arr::prepend($array, $value, $key = null)</code></pre>
    </div>
    <div>
      <h4 data-anchor="arr-pull"><samp>Arr::pull</samp></h4>
      <p>Get a value from the array, and remove it.</p>
      <pre><code class="php">Arr::pull(&$array, $key, $default = null)</code></pre>
    </div>
    <div>
      <h4 data-anchor="arr-set"><samp>Arr::set</samp></h4>
      <p>Set an array item to a given value using "dot" notation.<br/>
        If no key is given to the method, the entire array will be replaced.</p>
      <pre><code class="php">Arr::set(&$array, $key, $value)</code></pre>
    </div>
    <div>
      <h4 data-anchor="arr-sortRecursive"><samp>Arr::sortRecursive</samp></h4>
      <p>Recursively sort an array by keys and values.</p>
      <pre><code class="php">Arr::sortRecursive($array)</code></pre>
    </div>
    <div>
      <h4 data-anchor="arr-where"><samp>Arr::where</samp></h4>
      <p>Filter the array using the given callback.</p>
      <pre><code class="php">Arr::where($array, callable $callback)</code></pre>
    </div>
    <div>
      <h4 data-anchor="arr-map"><samp>Arr::map</samp></h4>
      <p>Map an array recursively</p>
      <pre><code class="php">Arr::map($callback, array $array, $recursive = false)</code></pre>
    </div>

    <h2>Object</h2>
    <div>
      <h4 data-anchor="obj-fill"><samp>Obj::fill</samp></h4>
      <p>Fill in data where it's missing.</p>
      <pre><code class="php">Obj::fill(&$target, $key, $value)</code></pre>
    </div>
    <div>
      <h4 data-anchor="obj-read"><samp>Obj::read</samp></h4>
      <p>
      </p>
      <pre><code class="php">Obj::read($object, $property, $default = null)</code></pre>
    </div>
    <div>
      <h4 data-anchor="obj-fetch"><samp>Obj::fetch</samp></h4>
      <p>
      </p>
      <pre><code class="php">Obj::fetch($object, $property, $default = null)</code></pre>
    </div>
    <div>
      <h4 data-anchor="obj-get"><samp>Obj::get</samp></h4>
      <p>Get an item from an array or object using "dot" notation.</p>
      <pre><code class="php">Obj::get($target, $key, $default = null)</code></pre>
    </div>
    <div>
      <h4 data-anchor="obj-set"><samp>Obj::set</samp></h4>
      <p>Set an item on an array or object using dot notation.</p>
      <pre><code class="php">Obj::set(&$target, $key, $value, $overwrite = true)</code></pre>
    </div>
    <div>
      <h4 data-anchor="obj-value"><samp>Obj::value</samp></h4>
      <p>Return the default value of the given value.</p>
      <pre><code class="php">Obj::value($value)</code></pre>
    </div>
    <h2>String</h2>
    <div>
      <h4 data-anchor="str-ascii"><samp>Str::ascii</samp></h4>
      <p>Transliterate a UTF-8 value to ASCII.</p>
      <pre><code class="php">Str::ascii($value)</code></pre>
    </div>
    <div>
      <h4 data-anchor="str-camel"><samp>Str::camel</samp></h4>
      <p>Convert a value to camel case.</p>
      <pre><code class="php">Str::camel($value)</code></pre>
    </div>
    <div>
      <h4 data-anchor="str-contains"><samp>Str::contains</samp></h4>
      <p>Determine if a given string contains a given substring.</p>
      <pre><code class="php">Str::contains($haystack, $needles)</code></pre>
    </div>
    <div>
      <h4 data-anchor="str-endsWith"><samp>Str::endsWith</samp></h4>
      <p>Determine if a given string ends with a given substring.</p>
      <pre><code class="php">Str::endsWith($haystack, $needles)</code></pre>
    </div>
    <div>
      <h4 data-anchor="str-finish"><samp>Str::finish</samp></h4>
      <p>Cap a string with a single instance of a given value.</p>
      <pre><code class="php">Str::finish($value, $cap)</code></pre>
    </div>
    <div>
      <h4 data-anchor="str-is"><samp>Str::is</samp></h4>
      <p>Determine if a given string matches a given pattern.</p>
      <pre><code class="php">Str::is($pattern, $value)</code></pre>
    </div>
    <div>
      <h4 data-anchor="str-length"><samp>Str::length</samp></h4>
      <p>Return the length of the given string.</p>
      <pre><code class="php">Str::length($value)</code></pre>
    </div>
    <div>
      <h4 data-anchor="str-levenshtein"><samp>Str::levenshtein</samp></h4>
      <p></p>
      <pre><code class="php">Str::levenshtein($word, $words, $order = SORT_ASC, $sort_flags = SORT_REGULAR)</code></pre>
    </div>
    <div>
      <h4 data-anchor="str-limit"><samp>Str::limit</samp></h4>
      <p>Limit the number of characters in a string.</p>
      <pre><code class="php">Str::limit($value, $limit = 100, $end = '...')</code></pre>
    </div>
    <div>
      <h4 data-anchor="str-lower"><samp>Str::lower</samp></h4>
      <p>Convert the given string to lower-case.</p>
      <pre><code class="php">Str::lower($value)</code></pre>
    </div>
    <div>
      <h4 data-anchor="str-words"><samp>Str::words</samp></h4>
      <p>Limit the number of words in a string.</p>
      <pre><code class="php">Str::words($value, $words = 100, $end = '...')</code></pre>
    </div>
    <div>
      <h4 data-anchor="str-parseCallback"><samp>Str::parseCallback</samp></h4>
      <p>Parse a Class::method style callback into class and method.</p>
      <pre><code class="php">Str::parseCallback($callback, $default)</code></pre>
    </div>
    <div>
      <h4 data-anchor="str-random"><samp>Str::random</samp></h4>
      <p>Generate a more truly "random" alpha-numeric string.</p>
      <pre><code class="php">Str::random($length = 16)</code></pre>
    </div>
    <div>
      <h4 data-anchor="str-quickRandom"><samp>Str::quickRandom</samp></h4>
      <p>Generate a "random" alpha-numeric string.

        Should not be considered sufficient for cryptography, etc.</p>
      <pre><code class="php">Str::quickRandom($length = 16)</code></pre>
    </div>
    <div>
      <h4 data-anchor="str-replaceFirst"><samp>Str::replaceFirst</samp></h4>
      <p>Replace the first occurrence of a given value in the string.</p>
      <pre><code class="php">Str::replaceFirst($search, $replace, $subject)</code></pre>
    </div>
    <div>
      <h4 data-anchor="str-replaceLast"><samp>Str::replaceLast</samp></h4>
      <p>Replace the last occurrence of a given value in the string.</p>
      <pre><code class="php">Str::replaceLast($search, $replace, $subject)</code></pre>
    </div>
    <div>
      <h4 data-anchor="str-upper"><samp>Str::upper</samp></h4>
      <p>Convert the given string to upper-case.</p>
      <pre><code class="php">Str::upper($value)</code></pre>
    </div>
    <div>
      <h4 data-anchor="str-title"><samp>Str::title</samp></h4>
      <p>Convert the given string to title case.</p>
      <pre><code class="php">Str::title($value)</code></pre>
    </div>
    <div>
      <h4 data-anchor="str-slug"><samp>Str::slug</samp></h4>
      <p>Generate a URL friendly "slug" from a given string.</p>
      <pre><code class="php">Str::slug($title, $separator = '-')</code></pre>
    </div>
    <div>
      <h4 data-anchor="str-snake"><samp>Str::snake</samp></h4>
      <p>Convert a string to snake case.</p>
      <pre><code class="php">Str::snake($value, $delimiter = '_')</code></pre>
    </div>
    <div>
      <h4 data-anchor="str-startsWith"><samp>Str::startsWith</samp></h4>
      <p>Determine if a given string starts with a given substring.</p>
      <pre><code class="php">Str::startsWith($haystack, $needles)</code></pre>
    </div>
    <div>
      <h4 data-anchor="str-studly"><samp>Str::studly</samp></h4>
      <p>Convert a value to studly caps case.</p>
      <pre><code class="php">Str::studly($value)</code></pre>
    </div>
    <div>
      <h4 data-anchor="str-capitalize"><samp>Str::capitalize</samp></h4>
      <p>Convert a value to Capitalize case.</p>
      <pre><code class="php">Str::capitalize($value)</code></pre>
    </div>
    <div>
      <h4 data-anchor="str-substr"><samp>Str::substr</samp></h4>
      <p>Returns the portion of string specified by the start and length parameters.</p>
      <pre><code class="php">Str::substr($string, $start, $length = null)</code></pre>
    </div>
    <div>
      <h4 data-anchor="str-ucfirst"><samp>Str::ucfirst</samp></h4>
      <p>Make a string's first character uppercase.</p>
      <pre><code class="php">Str::ucfirst($string)</code></pre>
    </div>
  </div>
</div>