<div class="row">
  <div class="col s12">
    <ul class="summary generate"></ul>
  </div>
  <div class="col s12">
    <blockquote>
      <b>Quark</b>, and not <i>Qwark</i>. Here we work with <b>Nucleon</b>, not with <i>Clank</i> ;<br />
      <small>I known. I want works with Clank me too.</small>
    </blockquote>

    <h2>Introduction</h2>
    <p><b>Quark</b> is your entry point to your <code>commands</code> and framework helpers.
      It provides a number of helpful commands that can assist you while you build your application.
      To view a list of all available Quark commands, you may use the <code>list</code> command:</p>
    <pre><code class="language-bash">php quark</code></pre>
    <pre><code class="language-bash">php quark list</code></pre>
    <p>Every command also includes a "help" screen which displays and describes the command's available arguments and options.
      To view a help screen, precede the name of the command with <code>help</code>:</p>
    <pre><code class="language-bash">php quark help migrate</code></pre>

    <h2>Writing Commands</h2>
    <p>In addition to the commands provided with Quark, you may also build your own custom commands.
      Commands are typically stored in the <code>app/Kernels/Cli/Tasks</code> directory;
      however, you are free to choose your own storage location as long as your commands can be loaded by Composer.</p>
    <h3>Command Structure</h3>

  </div>
</div>